{% extends "base.html" %}

{% block page_name %}Forgot{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <div class="centered">


        <h1>Forgot</h1>
        <form method="POST">
            <div>
                <ul>
                    <label for="Email">Email:</label>

                    <div class="ui input">
                    <input style="height: 35px" type="text" id="email" name="email" minlength="3" required />
                </div>
                </ul>

            </div>


            <input type="submit" value="Send">

            <div>
                {% if response != "Null" %}
                        <p class="Error">{{ response }}</p>
                {% endif %}
            </div>
            <br>


        </form>
    </div>
{% endblock %}